<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        ::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>
<body class="bg-[#212121]">
    <header class="w-full h-[100px] bg-[#212121] px-10 flex justify-between items-center">
        <p class="text-2xl font-bold text-[grey] [text-shadow:_5px_5px_10px_black]">Book Store</p>
        <a href="/"><button class="w-[100px] h-[40px] rounded text-white font-bold bg-[blue] cursor-pointer">Home</button></a>
    </header>
    <div class="w-full h-[86vh] p-10 flex justify-center">
        <form action="/addData" method="post" class="w-[30%] h-full rounded p-10 flex flex-col items-start [box-shadow:_0_0_5px_gray]">
            <p class="text-[gray] font-bold text-2xl mb-10">ADD BOOKS</p>
            <label for="" class="text-[gray] mt-2">Title</label>
            <input type="text" name="title" placeholder="Enter Book Title" class="border border-[gray] w-full h-[40px] rounded text-[gray] ps-5 mt-2">
            <label for="" class="text-[gray] mt-2">Author</label>
            <input type="text" name="author" placeholder="Enter Book Author" class="border border-[gray] w-full h-[40px] rounded text-[gray] ps-5 mt-2">
            <label for="" class="text-[gray] mt-2">Price</label>
            <input type="text" name="price" placeholder="Enter Book Price" class="border border-[gray] w-full h-[40px] rounded text-[gray] ps-5 mt-2">
            <label for="" class="text-[gray] mt-2">Image</label>
            <input type="text" name="image" placeholder="Enter Books Image(URL)" class="border border-[gray] w-full h-[40px] rounded text-[gray] ps-5 mt-3">
            <input type="submit" class="border border-[gray] w-[130px] h-[40px] rounded mt-10 text-[gray] cursor-pointer hover:bg-[gray] hover:text-[#212121]">
        </form>
    </div>
</body>
</html>